@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
  text-decoration: none;
  list-style: none;
  scroll-behavior: smooth;
}

body {
  background-color: #000000;
}

@keyframes custom-bounce {
  0%,
  100% {
    transform: translateY(0);
    animation-timing-function: cubic-bezier(0.8, 0, 1, 1);
  }
  50% {
    transform: translateY(15px); /* Altura do bounce reduzida */
    animation-timing-function: cubic-bezier(0, 0, 0.2, 1);
  }
}

.bounce-custom {
  animation: custom-bounce 1s infinite;
}

@keyframes flutuar {
  0% {
    top: 0;
  }
  100% {
    top: 35px;
  }
}

@layer utilities {
  .col {
    grid-template-columns: repeat(auto-fit, minmax(300px, auto));
  }
}

.img-topo-do-site {
  margin-left: 100px;
  margin-right: 100px;
  width: 80%;
}

.img-topo-do-site {
  position: relative;
  animation: flutuar 2s ease-in-out infinite alternate;
}

/*Estilo das Skills*/
#about-me .skills-slider {
  margin-top: 0; /* Reduz a margem superior */
  padding-top: 0; /* Reduz o padding superior */
}

.skills-slider {
  overflow: hidden;
  position: relative;
  height: 120px;
  width: 100%;
}

.skills-slider-box {
  display: flex;
  position: absolute;
  gap: 1px;
  padding: 20px;
  width: 100%;
}

.skills-items {
  display: flex;
  flex-shrink: 0;
  min-width: 100%;
  animation: scroll 15s linear infinite;
  animation-play-state: running;
}

.skills-box {
  -webkit-transform: translateZ(0);
  flex: 1;
  flex-shrink: 0;
  overflow: hidden;
  position: relative;
  z-index: 1;
}

/* Pausar animação ao passar o mouse */
.skills-slider:hover .skills-items {
  animation-play-state: paused;
}

/* Animação para rolar da esquerda para a direita */
@keyframes scroll {
  0% {
    transform: translateX(-100%);
  }
  100% {
    transform: translateX(0);
  }
}

/* Estilo do Project */
.portfolio-content {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 10px;
  padding: 20px;
  width: 100%;
  margin: 10px;
  font-size: 16px;
  line-height: 18px;
}

.row {
  position: relative;
  overflow: hidden;
  border-radius: 10px;
  cursor: pointer;
}

.row img {
  max-width: 400px;
  min-width: 100%;
  min-height: 355px;
  max-height: 355px;
  border-radius: 10px;
  display: block;
  transition: transform 0.5s;
}

.layer {
  width: 100%;
  height: 0;
  background: rgba(255, 255, 255, 0.743);
  position: absolute;
  border-radius: 10px;
  left: 0;
  bottom: 0;
  overflow: hidden;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  text-align: center;
  padding: 0 40px;
  transition: height 0.5s;
  box-sizing: border-box;
}

.layer i {
  color: black;
  margin-top: 10px;
  font-size: 20px;
  height: 50px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.row:hover img {
  transform: scale(1.1);
}

.row:hover .layer {
  height: 100%;
}

/* Estilos para celular */
@media (max-width: 640px) {
  .row img {
    max-width: 370px;
    min-height: 300px;
    max-height: 300px;
  }

  .layer {
    padding: 0 20px;
  }

  .skills-slider-box {
    gap: 10px;
  }

  .skills-box {
    width: 80px;
    height: 80px;
  }

  .skills-items {
    gap: 10px;
    animation: scroll 5s linear infinite;
  }
}

/* Estilos para notebooks */
@media (max-width: 1280px) {
  .row img {
    max-width: 370px;
    min-height: 300px;
    max-height: 300px;
  }

  .layer {
    padding: 0 20px;
    font-size: 0.75rem;
    line-height: 1rem;
  }

  .skills-slider-box {
    gap: 20px;
  }

  .skills-box {
    width: 100px;
    height: 80px;
  }

  .skills-items {
    gap: 10px;
    animation: scroll 5s linear infinite;
  }
  #title_text {
    font-size: 1.875rem /* 30px */;
    line-height: 2.25rem /* 36px */;
  }
}
